body {
    margin: 0px;
}
.carousel {
    overflow: hidden;
    padding: 50px;
    position: relative;
    width: 100%;
}
.carousel__container {
    margin: 70 0;
    padding-bottom: 10px;
    white-space: nowrap;
}
.carousel__item {
    background-color: royalblue;
    border-radius: 20px;
    height: 250px;
    margin-right: 10px;
    overflow: hidden;
    width: 200px;
    display: inline-block;
    transition: 400ms;
    transform-origin: center left;
}
.carousel__item:hover ~ .carousel__item {
    transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel__item {
    opacity: 0.3;
}
.carousel__container:hover .carousel__item:hover {
    transform: scale(1.3);
    opacity: 1;
}