body {
    background-color: #8f57fd;
    font-family: 'Mulish', sans-serif;
    margin: 0;
}
.header {
    align-items: center;
    background-color: #8f57fd;
    display: flex;
    height:80px;
    justify-content: space-between;
    width: 100%;
}
.header__img {
    margin-left: 10px;
    margin-top: 10px;
    width: 64px;
}
.header__menu { 
    margin-right: 30px;
}
.header__menu ul {
    display: none;
    list-style: none;
    margin: 0px 0px 0px -14px;
    padding: 10px;
    position: absolute;
    text-align: right;
}
.header__menu:hover ul, ul:hover {
    display: block;
    
}
.header__ menu li {
    margin: 10px 0px;
}
.header__menu li a {
    color: white;
    text-decoration: none;
}
.header__menu li a:hover {
    text-decoration: underline;
}
.header__menu--profile {
    align-items: center;
    display: flex;
    margin-right : 8px;
}

.header__menu--profile img {
    margin-right: 8px;
    width: 40px; 
}
.header__menu--profile p {
    color: white;
    margin: 0px;
}
.section {

}
.section__title--h2 {

}
.input {
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    background-color: #AB88FF;
}

::placeholder {
    color: white;
}